// components/productCard/ProductPage/MainSwiper/ProductImagesSlider/product-image-slider.scss
.product-images-slider {
  .swiper-slide {
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: #000;
    }
  }
}

.product-images-slider-thumbs {
  .swiper-slide {
    width: 25%;
    height: auto;
    opacity: 0.4;
    cursor: pointer;

    &.swiper-slide-thumb-active {
      opacity: 1;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
