$shadow-1: 0 2px 4px rgba(0, 0, 0, 0.1);

.top {
  background: #ece5e5;
  border-bottom: 1px solid #eee;
  &_container {
    max-width: 95%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_list {
    display: flex;
    gap: 15px;
    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: #252323;
      .flex {
        display: flex;
        align-items: center;
        gap: 2px;
        svg {
          transform: scale(1.2);
          margin-right: 3px;
        }
      }
      img {
        width: 28px;
        height: 28px;
        object-fit: cover;
        border-radius: 50%;
      }
      svg {
        width: 20px;
        height: 20px;
        fill: #1f1d1d;
      }
      span {
        font-size: 12px;
      }
      &::after {
        content: '';
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;
        background-color: #999;
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
      &:hover {
        span {
          color: #ff02ab;
        }
        svg {
          fill: #ff02ab;
        }
      }
    }
  }
}

@media (max-width: 670px) {
  .top_list {
    justify-content: space-between;
    margin-right: 1.5rem;
  }
  .top_list li:nth-of-type(1),
  .top_list li:nth-of-type(3) {
    display: none;
  }
}
