.cartContainer {
  position: relative;
  cursor: pointer;
}

.cartIcon {
  font-size: 1.5rem;
  color: black;
}

.cartCount {
  position: absolute;
  top: -0.7rem;
  right: -0.5rem;
  background-color: red;
  color: #fff;
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  border-radius: 100%;
}
