/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*-------Page--------- */
.hero {
  background: linear-gradient(
    180deg,
    rgba(255, 247, 205, 0.1),
    rgba(255, 255, 255, 0.02) 90%
  );
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 500;
}

/* CAROUSEL */

.productCarousel.carousel-root {
  display: flex;
  flex-direction: column; /* Cambiar a columna para dispositivos móviles */
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .productCarousel.carousel-root {
    flex-direction: row-reverse; /* Volver a la fila para pantallas más grandes */
  }
}

.productCarousel.carousel-root .carousel {
  width: auto;
}

.productCarousel.carousel-root .carousel.carousel-slider {
  width: 100%;
}
.productCarousel.carousel-root .carousel .thumb-wrapper {
  margin: 0;
}
.productCarousel.carousel-root .carousel.thumb {
  height: 60px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.productCarousel.carousel-root .carousel.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.productCarousel.carousel-root .carousel.thumb:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}
.productCarousel.carousel-root .carousel .thumb.selected,
.productCarousel.carousel-root .carousel .thumb:hover {
  border: 0;
}
.productCarousel.carousel-root .carousel .thumb:hover:after,
.productCarousel.carousel-root .carousel .thumb.selected:after {
  opacity: 0.2;
}
.productCarousel .control-arrow {
  display: none;
}

@media screen and (min-width: 768px) {
  .productCarousel.carousel-root .carousel .thumbs {
    transform: none !important;
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
  .productCarousel.carousel-root .carousel .thumb {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION END */

.markdown ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  margin: 20px 0;
}
.markdown ul li {
  margin: 10px 0;
}

/* HERO SECTION */

@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
  }
}
